.button {
  border: none;
  border-radius: 6px;
  font-size: 24px;
  transition: background-color, 0.2s linear, color 0.2s linear;
  cursor: pointer;
  appearance: none;

  &:hover {
    color: var(--dark-color, hsl(183, 100%, 15%));
    background-color: hsl(185, 41%, 84%);
  }
}
