.input {
  &__title {
    margin-block-end: 7px;
  }

  &__textfield {
    font-size: 24px;
    background-repeat: no-repeat;
    background-position: 19px 15px;
    background-size: 11px;
    inline-size: 378px;

    &_bill {
      background-image: url("../images/icon-dollar.svg");
    }

    &_person {
      background-image: url("../images/icon-person.svg");
    }
  }
}
