.options {
  margin-block-start: 38px;
  margin-block-end: 40px;

  &__title {
    margin-block-end: 16px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 13px;
  }

  &__item {
    inline-size: 118px;
    block-size: 48px;
  }

  &__button {
    color: var(--contrast-text-color, hsl(0, 0%, 100%));
    background-color: var(--dark-color, hsl(183, 100%, 15%));
    inline-size: 100%;
    block-size: 100%;
  }

  &__textfield {
    inline-size: 100%;
    block-size: 100%;
  }
}
