.result {
  display: flex;
  flex-direction: column;
  gap: 28px;
  border-radius: 15px;
  padding: 43.5px 40px 40px;
  background-color: var(--dark-color, hsl(183, 100%, 15%));
  inline-size: 413px;

  &__entity {
    display: grid;
    grid-template-columns: max-content 1fr min-content;
    grid-template-areas: "description . cost";
    align-items: center;
    inline-size: 100%;
  }

  &__description {
    grid-area: description;
  }

  &__title,
  &__person {
    display: block;
  }

  &__title {
    margin-block-end: 1px;
    color: var(--contrast-text-color, hsl(0, 0%, 100%));
  }

  &__person {
    font-size: 13px;
    color: hsl(184, 14%, 56%);
  }

  &__cost {
    grid-area: cost;
    color: var(--accent-color, hsl(172, 67%, 45%));
    font-size: 46px;
  }

  &__reset {
    background-color: var(--accent-color, hsl(172, 67%, 45%));
    color: var(--dark-color, hsl(183, 100%, 15%));
    margin-block-start: 92px;
    padding-inline-end: 10px;
    padding-block-start: 4px;
    font-size: 20px;
    text-transform: uppercase;
    inline-size: 100%;
    block-size: 48px;
  }
}
