:root {
  --page-background-color: hsl(185, 41%, 84%);
  --content-background-color: hsl(0, 0%, 100%);
  --input-background-color: hsl(185, 41%, 84%);
  --options-button-background-color: hsl(183, 100%, 15%);
  --options-button-text-color: hsl(0, 0%, 100%);
  --result-background-color: hsl(183, 100%, 15%);
}
