:root {
  --page-background-color: hsl(185, 41%, 84%);
  --content-background-color: hsl(0, 0%, 100%);
  --input-background-color: hsl(189, 41%, 97%);
  --main-text-color: hsl(186, 14%, 43%);
  --contrast-text-color: hsl(0, 0%, 100%);
  --dark-color: hsl(183, 100%, 15%);
  --accent-color: hsl(172, 67%, 45%);

}
