.header {

  padding: 152px 0 79px;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    margin-inline-start: 10px;
  }

  &__span {
    display: block;
  }
}
