.content {
  display: flex;
  justify-content: space-between;
  gap: 47px;
  margin: auto;
  border-radius: 25px;
  padding: 32.5px 32px 32.5px;
  background-color: var(--content-background-color, hsl(0, 0%, 100%));

  &__input {
    padding-inline-start: 16px;
    padding-block: 12px;
  }
}
